<!DOCTYPE html>
<html lang="ro">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Analiza Numerologica Tenis</title>

<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body style="background:#f4f6fb;">

<div class="container py-5">

<h2 class="text-center mb-4">🎾 Ema - Analiza Numerologica Tenis</h2>

<div class="card p-4">

<form method="post">

<div class="row">

<div class="col-md-6">

<h5>Jucator 1</h5>

<input class="form-control mb-2"
name="player1"
placeholder="Nume jucator"
value="{{ request.form.get('player1','') }}">

<input type="date"
class="form-control mb-3"
name="birth1"
value="{{ request.form.get('birth1','') }}">

<input type="number"
step="0.01"
class="form-control"
name="odds1"
placeholder="Cota ex: 1.85"
value="{{ request.form.get('odds1','') }}">

</div>


<div class="col-md-6">

<h5>Jucator 2</h5>

<input class="form-control mb-2"
name="player2"
value="{{ request.form.get('player2','') }}">

<input type="date"
class="form-control mb-3"
name="birth2"
value="{{ request.form.get('birth2','') }}">

<input type="number"
step="0.01"
class="form-control"
name="odds2"
placeholder="Cota ex: 2.10"
value="{{ request.form.get('odds2','') }}">

</div>

</div>

<hr>


<div class="row">

<div class="col-md-4">

<label>Data meci</label>

<input type="date"
class="form-control"
name="date"
value="{{ request.form.get('date','') }}">

</div>


<div class="col-md-4">

<label>Ora</label>

<input type="time"
class="form-control"
name="time"
value="{{ request.form.get('time','') }}">

</div>


<div class="col-md-4">

<label>Turneu / locatie</label>

<input class="form-control"
name="tournament"
value="{{ request.form.get('tournament','') }}">

</div>

</div>


<div class="row mt-3">

<div class="col-md-6">

<label>Suprafata</label>

<select class="form-select" name="surface">

<option value="Hard" {% if request.form.get('surface') == "Hard" %}selected{% endif %}>Hard</option>

<option value="Clay" {% if request.form.get('surface') == "Clay" %}selected{% endif %}>Clay</option>

<option value="Grass" {% if request.form.get('surface') == "Grass" %}selected{% endif %}>Grass</option>

</select>

</div>


<div class="col-md-6">

<label>Runda</label>

<select class="form-select" name="round">

<option value="Round of 128" {% if request.form.get('round') == "Round of 128" %}selected{% endif %}>Round of 128</option>

<option value="Round of 64" {% if request.form.get('round') == "Round of 64" %}selected{% endif %}>Round of 64</option>

<option value="Round of 32" {% if request.form.get('round') == "Round of 32" %}selected{% endif %}>Round of 32</option>

<option value="Round of 16" {% if request.form.get('round') == "Round of 16" %}selected{% endif %}>Round of 16</option>

<option value="Quarterfinal" {% if request.form.get('round') == "Quarterfinal" %}selected{% endif %}>Quarterfinal</option>

<option value="Semifinal" {% if request.form.get('round') == "Semifinal" %}selected{% endif %}>Semifinal</option>

<option value="Final" {% if request.form.get('round') == "Final" %}selected{% endif %}>Final</option>

</select>

</div>

</div>


<div class="text-center mt-4">

<button class="btn btn-primary btn-lg">

Genereaza analiza

</button>

<a href="/" class="btn btn-secondary btn-lg ms-2">

Refresh

</a>

</div>

</form>

</div>



{% if result %}

<div class="card mt-4 p-4">

<h4>Energia meciului</h4>

<ul class="list-group mb-4">

<li class="list-group-item">Vibratia zilei: <b>{{result.day}}</b></li>

<li class="list-group-item">Vibratia orei meciului: <b>{{result.hour}}</b></li>

<li class="list-group-item">Vibratia turneului / locatiei: <b>{{result.location}}</b></li>

<li class="list-group-item">Vibratia suprafetei de joc: <b>{{result.surface}}</b></li>

<li class="list-group-item">Vibratia rundei: <b>{{result.round}}</b></li>

<li class="list-group-item">Energia completa a meciului: <b>{{result.event}}</b></li>

<li class="list-group-item">Compatibilitatea presiunii competitionale: <b>{{result.pressure}}</b></li>

</ul>


<div class="row">

<div class="col-md-6">

<h4>{{result.player1}}</h4>

<ul class="list-group mb-4">

<li class="list-group-item">Numarul destinului: <b>{{result.p1.destiny}}</b></li>

<li class="list-group-item">Numarul numelui: <b>{{result.p1.name}}</b></li>

<li class="list-group-item">Energia personala a anului: <b>{{result.p1.year}}</b></li>

<li class="list-group-item">Numarul personal al zilei: <b>{{result.p1.personal}}</b></li>

<li class="list-group-item">Scor numerologic: <b>{{result.p1.score}}</b></li>

</ul>

</div>


<div class="col-md-6">

<h4>{{result.player2}}</h4>

<ul class="list-group mb-4">

<li class="list-group-item">Numarul destinului: <b>{{result.p2.destiny}}</b></li>

<li class="list-group-item">Numarul numelui: <b>{{result.p2.name}}</b></li>

<li class="list-group-item">Energia personala a anului: <b>{{result.p2.year}}</b></li>

<li class="list-group-item">Numarul personal al zilei: <b>{{result.p2.personal}}</b></li>

<li class="list-group-item">Scor numerologic: <b>{{result.p2.score}}</b></li>

</ul>

</div>

</div>


<h4>Probabilitate numerologica</h4>

<p>{{result.player1}}: <b>{{result.prob1}}%</b></p>

<p>{{result.player2}}: <b>{{result.prob2}}%</b></p>


{% if result.book_prob1 %}

<hr>

<h4>Probabilitate bookmaker</h4>

<p>{{result.player1}}: {{result.book_prob1}}%</p>

<p>{{result.player2}}: {{result.book_prob2}}%</p>

<hr>

<h4>Value Bet</h4>

<p>{{result.player1}}: {{result.value1}}%</p>

<p>{{result.player2}}: {{result.value2}}%</p>

{% endif %}


<hr>

<h3>Predictie: {{result.prediction}}</h3>

</div>

{% endif %}

</div>

</body>

</html>